table {
    font-weight: lighter;
    background-color: #FFF;
}
th{
    color:#51556c;
    font-size: small;
    border-top: 1px solid #dde1f6;
    border-bottom: 1px solid #dde1f6;
}
th,
td {
    border-bottom: 1px solid #dde1f6;
    padding: 10px;
    text-align: center;
}

td {
    font-weight: lighter;
}
.table{
    background-color: #FFF;
}
.form_and_filters{
    background-color: #F2F7FA;
    height: 50px;
}

.formData{
    display: flex;
    flex-direction: column;
}
.tableData{
    padding-top: 10%;
    margin: 0 auto;
    width: max-content;
}